@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  body{
    margin:0;
    padding:0;
  }